@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.v-pagination__item--is-active {
    background-color: #00953A;
    color: white;
}

.update-create-campaign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.image-show {
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer !important;
}

.image-show-img {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.image-show-span {
    color: #009639;
    height: 24px;
    width: 24px;
    transition: 0.1s;
}

.image-show-span:hover {
    background: red;
    text-align: center;
    height: 24px;
    width: 24px;
    border-radius: 50px;
    color: #fff;
    transition: 0.1s;
}

.update-create-campaign h2 {
    font-size: 2rem;
    margin: 2rem;
    font-weight: 600;
    color: #04841c;
}

.update-create-campaign h3 {
    font-size: 1.5rem;
    margin-top: 3rem;
    font-weight: 600;
}

.update-create-campaign form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.update-create-campaign form .input-g1 {
    display: flex;
    flex-direction: row;
    gap: 100px;
    width: 43.75rem;
    justify-content: space-between;
}

.update-create-campaign form .input-g1 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.update-create-campaign form .input-g1 div label {
    margin-top: 3rem !important;
    margin-bottom: 0.4rem;
    color: #000000b6;
    font-size: 1rem;
    font-weight: bold;
}

.update-create-campaign form .input-g1 div input {
    border: 2px solid #04841c;
    padding: 0.5rem;
}

.update-create-campaign form .input-g2 {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 43.75rem;
}

.update-create-campaign form .input-g2 input {
    border: 2px solid #04841c;
    width: 1100px;
    padding: 1.5rem;
    z-index: 5;
    opacity: 0;
}

.update-create-campaign form .input-g2 label {
    margin-bottom: 0.4rem;
    color: #000000b6;
    font-size: 1rem;
    font-weight: bold;
}

.update-create-campaign .icon-selec-file {
    position: absolute;
    border: 2px solid #04841c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.7rem;
    width: 1100px;
    margin-top: 30px;
    z-index: 0;
}

.items-start {
    width: 43.75rem !important;
}

.update-create-campaign .icon-selec-file span {
    background: #fdc400;
    border-radius: 100px;
    color: #ffff;
    font-size: 2rem;
    z-index: 100;
}

.update-create-campaign .icon-selec-file img {
    position: absolute;
    width: 100px;
    margin-top: -35px;
    cursor: pointer !important;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 1100px;
    margin-top: 1rem;
}

.input-email input {
    border: 2px solid #04841c;
    padding: 0.5rem;
    width: 15rem;
}

tr th {
    background: #04841c;
    border: 2px solid #bdb5b593;
    text-align: left;
    padding: 1rem;
    color: white;
    text-align: center;
}

td {
    background-color: #6467684b;
    padding: 1.5rem;
    border: 2px solid #ffffff93;
    text-align: center;
}

#prizes {
    width: 200px;
}

#number-prize {
    border: 2px solid #009639;
    width: auto;
    padding: 0.5rem;
    background: #ffff;
}


#add-edit-prize-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    background: #6467684b;
    width: 1100px;
    padding: 0.5rem;
    transition: 0.1s;
    border: 2px solid #ffffff93;
}

#add-edit-prize-row:hover {
    background: #fdc400;
    transition: 0.1s;
    color: #ffff;
}

/* ============================================invite email============================== */

#add-edit-email-invite-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    background: #6467684b;
    width: 1100px;
    padding: 0.5rem;
    transition: 0.1s;
    border: 2px solid #ffffff93;
}

#add-edit-email-invite-row:hover {
    background: #fdc400;
    transition: 0.1s;
    color: #ffff;
}

#action-prize {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding: 0.5rem;
    transition: all 0.1s;
}

#action-prize:hover {
    background: grey;
    transition: all 0.1s;
    cursor: pointer;
}

#update-create-campaign-action {
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

#update-create-campaign-action #cancel {
    background: #fdc400;
    width: 100px;
    /* padding: 0.5rem; */
    color: #ffff;
    transition: 0.1s;
    font-weight: 700;
    height: 3rem;
    border-radius: 0;
}

#update-create-campaign-action #submit {
    background: #04841c;
    /* padding: 0.5rem; */
    height: 3rem;
    width: 100px;
    color: #ffff;
    transition: 0.1s;
    font-weight: 700;
    border-radius: 0;
}

#update-create-campaign-action #submit:hover,
#update-create-campaign-action #cancel:hover {
    transition: 0.1s;
    background: #8d918e;
}

.select-dropdown,
.select-dropdown * {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

.select-dropdown {
    position: relative;
    border: 2px solid #009639;
    background: #fff;

    width: 10rem;
}

.select-dropdown select {
    font-size: 1rem;
    font-weight: normal;
    width: 10rem;
    padding: 10px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-prize {
    width: 15rem;
}

.select-prize #prizes {
    width: 15rem;
}

.select-dropdown select:active,
.select-dropdown select:focus {
    outline: none;
    box-shadow: none;
}

.select-dropdown:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 0;
    height: 0;
    margin-top: -2px;
    border-top: 5px solid #009639;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.check-box-label {
    color: #000000b6;
    font-size: 1rem;
    font-weight: bold;
}

#user-none {
    user-select: none !important;
}

.number-of-chance {
    border: 2px solid #04841c;
    padding: 0.5rem;
    width: 43.75rem;
}

.check-box input {
    width: 1.2rem;
    height: 1.2rem;
}

.update-create-campaign form .input-g1 div label {
    margin-top: 2rem;
    margin-bottom: 0.4rem;
    color: #000000b6;
    font-size: 1rem;
    font-weight: bold;
}

.check-box label {
    font-size: 0.9rem !important;
}

.delete-prize,
.delete-image-campaign {
    background: #fff;
    padding: 1rem 2rem 2rem 2rem;
}

.delete-prize img,
.delete-image-campaign img {
    margin: auto;
    width: 150px;
}

.delete-prize button,
.delete-image-campaign button {
    border-radius: 0;
}

.delete-prize button:nth-child(2),
.delete-image-campaign button:nth-child(2) {
    background: #009639;
}

.delete-prize button:nth-child(1),
.delete-image-campaign button:nth-child(1) {
    background: #F1C400;
}

.delete-prize button:hover,
.delete-image-campaign button:hover {
    background: #E0457B !important;
}


@media (max-width: 1366rem) {
    .update-create-campaign {
        margin-bottom: 100px;
    }

    .update-create-campaign form .input-g1 div input {
        width: 300px;
    }

    .update-create-campaign form .input-g2 input {
        width: 43.75rem;
    }

    .update-create-campaign form .input-g1 {
        gap: 50px;
    }

    .update-create-campaign .icon-selec-file {
        width: 43.75rem;
    }

    table {
        width: 43.75rem;
    }

    #add-edit-prize-row {
        width: 43.75rem;
    }

    #add-edit-email-invite-row {
        width: 43.75rem;
    }

    label,
    input,
    input::placeholder,
    select,
    th {
        font-size: 0.8rem !important;
    }

    .image-show {
        width: 43.75rem;
    }
}